* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #eeedde;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
}

.search {
  display: flex;
  height: 24px;
  justify-content: center;
  margin-bottom: 20px;
}

.list-nasdaq {
  display: flex;
  margin: 20px;
  list-style-type: none;
  justify-content: center;
  min-width: 447px;
}

.input {
  display: flex;
}

.input-q {
  border-radius: 4px;
  width: 458px;
}

.button {
  background-color: #008cba;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 100%;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

#loader.display {
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6a5495;
}

.company-intro {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 30%;
  justify-content: space-between;
  min-width: 600px;
}

.company-name {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}

.price-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stock-price {
  font-weight: bold;
}

.chart {
  display: flex;
  width: 50%;
  min-width: 500px;
  margin-left: 13px;
  min-height: 545px;
}

#spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

#spinner.display {
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nas-title {
  display: flex;
  margin: 46px;
  justify-content: center;
  font-size: larger;
}
.marquee-box {
  display: flex;
  background-color: #FFF1CE;
  overflow: hidden;
  position: relative;
  height: 40px;
}

.marquee-box div {
  
    overflow: hidden;
    height: 100px;
    position: absolute;
    animation: marquee 20s linear infinite;
    width: 200%;
}

.marquee-box span {
  float: left;
  width: 100%;
}

.marquee {
  display: flex;
  
}



@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
}}

.list-tag {
  display: flex;
  flex-direction: row;
}

.company-perc {
  color: #ff1818;
}

.company-percgreen {
  color: #357C3C;
}

.price-data {
  color: #357C3C;
}

.card {
  border-style: solid;
  margin: 20px;
  min-width: 600px;
  border-width: 1px;
  border-color: #dadbbd;
  box-shadow: 5px 10px #888888;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #b4cfb0;
}
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.price-amount {
  color: #6ebf8b;
  padding-left: 5px;
  padding-right: 20px;
  
}

.new-symbol {
  background-color: yellow;
}